*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 5px;
}

.accordeon {
    max-width: 500px;
    margin: 20px auto;
    padding: 10px 20px 20px;
    background-color: rgb(250, 226, 197);
    border-radius: 30px;
    color: blue;
    font-family: Roboto;
    font-weight: 500;
}

h1 {
    color: black;
    font-weight: 700;
    margin: 3% 0;
}

.accordeon:hover {
    color: black;
}

.meme-item {
    border: 1px solid red;
    margin-bottom: 5px;
    border-radius: 15px;
}

.meme-title {
    display: block;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 15px;
    transition: background-color .2s ease-out;
}

.meme-img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 1% auto;
}

.meme-title:hover {
    background-color: red;
}

.meme-input {
    appearance: none;
    position: absolute;
}

.meme-input:hover + .meme-title {
    background-color: red;
}

.meme-input:hover + .meme-content {
    display: block;
}

.meme-input:checked + .meme-content {
    display: block;
}

.meme-content {
    display: none;
}

